:root {
    --TitleColour: #ffffff;
    --InformationColour: #ffffff;
    --BackgroundColour: rgb(96, 172, 238);
  }

h1{
    background-color: var(--BackgroundColour);
    color: var(--TitleColour);
    width: 100vw;
    font-size: 50px;
    font-weight: bold;
}
h2{
    font-size: 20px;
    width: 100vw;

}
h3{
    font-size: 20px;
    padding-top: 5vh;
}

.CardContainer:hover{
    box-shadow: 10px 5px 5px teal;
    cursor: pointer;

}